Azure Data Factory/pipeline/LoopMasterNotebookFramework.json
{
	"name": "LoopMasterNotebookFramework",
	"properties": {
		"activities": [
			{
				"name": "uspGetContainerNBExecutionList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "uspLogEventPipeLineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "uspGetNotebookExecutionList",
						"storedProcedureParameters": {
							"NotebookExecutionGroupName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.NotebookExecutionGroupName",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "FrameworkAzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Databricks Notebook Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "uspGetContainerNBExecutionList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('uspGetContainerNBExecutionList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 16,
					"activities": [
						{
							"name": "Exec MasterNotebook",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MasterNotebookFramework",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"NotebookRunDateFolder": {
										"value": "@pipeline().parameters.NotebookRunDateFolder",
										"type": "Expression"
									},
									"NotebookExecutionGroupName": {
										"value": "@pipeline().parameters.NotebookExecutionGroupName",
										"type": "Expression"
									},
									"NotebookSystemPath": "Framework/",
									"NotebookName": {
										"value": "@item().NotebookName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "uspLogEventPipeLineStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "uspLogEventPipeLineStart",
						"storedProcedureParameters": {
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ParentPipeLineExecutionLogKey": {
								"type": "Int64",
								"value": {
									"value": "0",
									"type": "Expression"
								}
							},
							"PipeLineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipeLineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipeLineStartDate": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"PipeLineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipeLineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipeLineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "FrameworkAzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "uspLogEventPipeLineEnd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Databricks Notebook Loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "uspLogEventPipeLineEnd",
					"storedProcedureParameters": {
						"PipeLineExecutionGroupName": {
							"value": {
								"value": "@pipeline().parameters.NotebookExecutionGroupName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineExecutionLogKey": {
							"value": {
								"value": "@activity('uspLogEventPipeLineStart').output.firstRow.PipeLineExecutionLogKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"PipeLineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": {
								"value": "SUCCEEDED",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"NotebookRunDateFolder": {
				"type": "String"
			},
			"NotebookSystemPath": {
				"type": "String",
				"defaultValue": "Framework/"
			},
			"NotebookExecutionGroupName": {
				"type": "string",
				"defaultValue": "Client000000001 Ingest"
			},
			"NotebookName": {
				"type": "string",
				"defaultValue": "Master Notebook Execution"
			}
		},
		"folder": {
			"name": "Framework"
		},
		"annotations": [
			"@pipeline().parameters.NotebookExecutionGroupName"
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}