Azure Data Factory/pipeline/MasterNotebookData001.json
{
	"name": "MasterNotebookData001",
	"properties": {
		"activities": [
			{
				"name": "Log Start Event",
				"description": "Log Start Event information.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "uspLogEventNotebookStart",
						"storedProcedureParameters": {
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"NotebookName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.NotebookName",
									"type": "Expression"
								}
							},
							"NotebookStartDate": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"ParentPipelineExecutionLogKey": {
								"type": "Int64",
								"value": "0"
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "FrameworkAzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Log Success Event",
				"description": "Log Success Event information.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Notebook Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "uspLogEventNotebookEnd",
					"storedProcedureParameters": {
						"NotebookExecutionGroupName": {
							"value": {
								"value": "@pipeline().parameters.NotebookExecutionGroupName",
								"type": "Expression"
							},
							"type": "String"
						},
						"NotebookExecutionLogKey": {
							"value": {
								"value": "@activity('Log Start Event').output.firstRow.NotebookExecutionLogKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"NotebookName": {
							"value": {
								"value": "@pipeline().parameters.NotebookName",
								"type": "Expression"
							},
							"type": "String"
						},
						"NotebookStatus": {
							"value": "SUCCEEDED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Failure Event",
				"description": "Log Failure Event information.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Notebook Execution",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "uspLogEventNotebookError",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@activity('Master Notebook Execution').error.errorcode",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorDescription": {
							"value": {
								"value": "@activity('Master Notebook Execution').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"NotebookExecutionLogKey": {
							"value": {
								"value": "@activity('Log Start Event').output.firstRow.NotebookExecutionLogKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceName": {
							"value": {
								"value": "@pipeline().parameters.NotebookName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Master Notebook Execution",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Log Start Event",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.0:0:0",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat(pipeline().parameters.NotebookSystemPath,'Master Notebook Execution')",
						"type": "Expression"
					},
					"baseParameters": {
						"notebookExecutionName": {
							"value": "@pipeline().parameters.NotebookName",
							"type": "Expression"
						},
						"NotebookSystemPath": {
							"value": "@pipeline().parameters.NotebookSystemPath",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksData001",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"NotebookName": {
				"type": "String",
				"defaultValue": "client000000002_Concurrent_Connections_Enrich_Publish"
			},
			"NotebookRunDateFolder": {
				"type": "String"
			},
			"NotebookSystemPath": {
				"type": "String",
				"defaultValue": "/client000000002/Publish/Framework/"
			},
			"NotebookExecutionGroupName": {
				"type": "string",
				"defaultValue": "Client000000002 Enrich and Publish"
			}
		},
		"folder": {
			"name": "Data001"
		},
		"annotations": [
			"@pipeline().parameters.NotebookExecutionGroupName"
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}